body {
	margin: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

li {
	list-style-type: none;
}

.label {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 15px;
}

.input-field {
	margin-bottom: 10px;
}

.app-button {
	margin: 10px 0 10px 0;
	width: 100px;
	padding: 10px;
	background-color: #3898ec;
	white-space: nowrap;
	color: white;
	border: none;
	border-radius: 5px;
}

.quote-box {
	margin: 10px 20px 0 20px;
	border: 1px solid gray;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 1fr;
	height: 160px;
}

@media screen and (max-width: 666px) {
	.quote-box {
		grid-template-columns: none;
		grid-template-rows: 50% 50%;
		height: 360px;
	}
}

.quote-box-header {
	font-size: 14px;
	display: flex;
	align-items: center;
}

.quote-box-left {
	display: grid;
	grid-template-rows: 40% 60%;
	border-right: 1px solid gray;
}

.quote-box-right {
	display: grid;
	grid-template-rows: 20% 80%;
}

.quote-box-channel {
	border-bottom: 1px solid gray;
}

.quote-box-destination {
	background-color: #0010ff;
	color: white;
	font-family: sans-serif;
	font-weight: 600;
}

.quote-box-price {
	font-size: 40px;
	font-family: sans-serif;
}

.quote-box-delivery {
	display: inline-grid;
	grid-template-rows: 40% 60%;
	padding: 10px;
}

.quote-box-days {
	color: #4129c7;
	font-size: 20px;
	font-weight: 700;
}

.aligned-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
}

.quote-box-channel {
	display: grid;
	grid-template-columns: 20% 80%;
}

.icon {
	width: 50px;
	height: 50px;
}
