body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

li {
	list-style-type: none;
}

.label {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 15px;
}

.input-field {
	margin-bottom: 10px;
}

.app-button {
	margin: 10px 0 10px 0;
	width: 100px;
	padding: 10px;
	background-color: #3898ec;
	white-space: nowrap;
	color: white;
	border: none;
	border-radius: 5px;
}
